.applyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;
  height: auto;
  overflow-y: hidden;
}
.formTitle {
  width: 44%;
  height: 5px;
}
.jobHeader {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.formContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 8px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer form .applyNowBtn {
  display: flex;
  margin-top: 20px;
}

.formContainer form .applyNowBtn button {
  padding: 16px 32px;
  background-color: #0b5fae;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 512px;
  margin-bottom: 15px;
}
.inputField label {
  color: #b3b1bb;
}
.inputField .inputLabel .letterContainer {
  margin-top: 3px;
  margin-bottom: 20px;
}

.letterContainer .inputFieldText {
  width: 512px;
  min-height: 50px;
  background: #f8f9fd;
}
.contactContainer .inputField {
  width: 512px;
}
.nameContainer .inputField {
  width: 512px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 27%;
  border: 1px solid #d8e0e8;
  width: 512px;
  height: 94px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .letterContainer .inputFieldText {
    width: 275px;
    min-height: 50px;
    background: #f8f9fd;
  }
  .contactContainer .inputField {
    width: 275px;
  }
  .nameContainer .inputField {
    width: 275px;
  }
  .formContainer form .applyNowBtn button {
    width: 275px;
  }
  .logoWrapper {
    margin-left: 0%;
    border: none;
  }
  .errorMsg {
    padding: 12px;
  }
}
@media (max-width: 960px) {
  .formTitle {
    font-size: 2rem;
  }
  .logoWrapper {
    margin-left: 0%;
    border: none;
  }
  .jobHeader,
  .formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
