.main-container {
    display: flex;
    flex-direction: column;
    padding:2%;
  }  
  .main-content {
    display: flex;
    flex-direction: column-reverse; 
    margin-top: 5%;
  }
  .image-content img {
    max-width: 100%; 
  }
  .form-content {
    flex: 1;
    margin-left: 4%;
  }
  .login-title {
    color: #111111;
    font-family: Poppins;
    font-weight: 700 !important;
    line-height: 28px;   
    text-align: left;
    margin-top: 4%; 
    font-size: 2.2%; 
    letter-spacing: -0.2%;
  }
  .form-span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7%; 
  }
  .form-span .MuiTypography-root {
    text-align: center;
  }
  .forget-pass{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-message {
    color: red; 
    font-size: 100%; 
    margin-top: 2%;
  }
  
  /* Styles for larger screens using media queries */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row; 
      }
    
      .form-content {
        flex: 0 0 50%; 
        
      }
    
      .image-content {
        flex: 0 0 40%; 
      }
    
      .login-title {
        margin-top: 2%;
        font-size: 2.2%; 
        letter-spacing: -0.2%; 
      }
    

      .login-button {
        width: 60%; 
        height: 6%; 
        border-radius: 2%; 
        cursor: pointer;
        padding: 1.5% 0;
        font-size: 2%; 
      }
  }