/*.signup-container {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.signup-content {
  height: 100vh;
}
.name-wrapper {
  display: flex;
  gap: 20px;
}
.label-wrap {
  display: flex;
  width: 125px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.label {
  color: var(--text-60, #55555F);
  text-align: center;
 
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: 0.24px;
}
.handimage {
  width: 735px;
  height: 624px;
  margin-top: 45px;
  flex-shrink: 0;
}
.signup-column {
  order: 1;
}
.image-column {
  order: 2;
}
.btn {
  background-color: #0B5FAE;
  color: white;
  padding: 10px 32px;
  width: 274px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .signup-column {
    order: 2; 
  }
  .image-column {
    order: 1; 
    min-height: 400px;
  }
  .handimage {
    width: 100%;
    height: 310px;
  }
}

@media (max-width: 480px) {
  .handimage {
    width: 100%; 
    height: 240px; 
    justify-content: flex-start;
  }
} 
*/
.label-wrap {
  display: flex;
  width: 125px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}


