.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  overflow-wrap: normal;
}
.card {
  width: 300px;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
  font-family: var(--font-primary);
}
.header a {
  text-decoration: none;
  color: #004c00;
  font-weight: bold;
}
.filter {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 80px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  align-items: center;
}
.filter input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #004c00;
  border-radius: 4px;
  outline: none;
}
.btn {
  border-radius: 0.4rem;
  font-size: 10px;
  font-family: var(--font-text);
  cursor: pointer;
  border: 1px solid #004c00;
  transition: all 400ms ease;
  padding: 10px;
  font-weight: bold;
  width: 60px;
  background-color: #f0fff0;
}
.btn:hover {
  background-color: #00a74a;
  color: white;
  border-color: transparent;
}
.actice {
  background-color: #006400;
}
.salary {
  padding: 5px;
  background-color: white;
  border-radius: 8px;
}
.sorting {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 930px) {
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
  }
  .filter input {
    width: 100%;
  }
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 680px) {
  .content {
    justify-content: center;
  }
  .card {
    width: 100%;
  }
}
