.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15px 400px auto;
  grid-template-columns: auto;
  grid-template-areas: 'top' 'mid' 'btm';
}
.main {
  grid-area: mid;
}
