@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Overpass:wght@400;700&family=Poppins:wght@700&display=swap');

:root {
  --font-primary: 'Manrope', sans-serif;
  --font-title: 'Poppins', sans-serif;
  --font-color: #111111;
  --sec-font-color: #55555f;

  --color-blue: #0b5fae;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
}
.app {
  font-family: var(--font-primary);
  max-width: 75vw;
  /*margin: 0 auto;*/
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
