.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  align-items: self-start;
  padding: 20px;
  gap: 20px;
  height: auto;
}

.logoTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-family: var(--font-text);
  color: var(--font-color);
  font-size: 18px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.title {
  flex-grow: 1;
}
.name {
  color: #7d7a89;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 16px;
  font-family: var(--font-text);
  cursor: pointer;
  border: 1px solid #0b5fae;
  transition: all 400ms ease;
  width: 107px;
}
.approve {
  background-color: #110d59;
  color: white;
}
.description {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: var(--font-text);
}

.location {
  color: var(--font-color);
  font-size: 16px;
  font-family: var(--font-text);
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.btn:hover {
  background-color: #0b5fae;
  color: white;
  border-color: transparent;
}
@media screen and (max-width: 930px) {
  .cardContainer {
    height: 100%;
  }
}
